<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>

<h1>Complete this madlib!</h1>
<!-- dropdown menu, text input -->

<!-- person, color, noun, adjective-->
    <form action="/madlib">
    Name a person.
    <input type="text" name="person"> <br>
    Pick a color
    <select name="color">
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
    </select><br>
    Pick a noun.
    <select name="noun">
      <option value="Balloonicorn">Balloonicorn</option>
      <option value="Hackbright">Hackbright</option>
      <option value="San Francisco">San Francisco</option>
      <option value="french fries">French fries</option>
      <option value="dragon">Dragon</option>
      <option value="computer">Computer</option>
    </select><br>
    Name an adjective
    <input type="checkbox" name="adjective" value="cuddly"><label>Cuddly</label>
    <input type="checkbox" name="adjective" value="funny"><label>Funny</label>
    <input type="checkbox" name="adjective" value="angry"><label>Angry</label>
    <input type="checkbox" name="adjective" value="sweaty"><label>Sweaty</label>
    <input type="checkbox" name="adjective" value="playful"><label>Playful</label>
    <input type="checkbox" name="adjective" value="sad"><label>Sad</label>
    
    <br>
    <input type="submit">
    </form>


</body>
</html>